<!DOCTYPE html>
<html>
<head>
	<title>Employee Details</title>
	<style type="text/css">
		p{
			text-align: center;
			background-color: yellow;
			color: brown;
			padding: 23px;
			margin-left: 40%;
			margin-right: 40%;
		}
		#sample
		{
			margin-left: 23px;
			background-color: green;
			text-align: center;
			padding: 12px;
		}
		.sa
		{
			margin-right: 20%;
			text-align: center;
			color:green;
			background-color: yellow;
		}
	</style>
</head>
<body>
	<h2>Your Name is:<span style="color:green;font-style: 50px">{{n}}</span></h2>
	<h2>Your age is:{{i}}</h2>
	<h1>internal </h1>
	<p>this is an example of internal style sheets</p>
	<h5 id="sample">this is an exmaple for internal style sheet based on id</h5>
	<h6 class="sa">this is an example of internal style sheet based on class</h6>

</body>
</html>