<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>hii {{fname}},{{emailid}}</h1>
	<table border="1">
		<tr>
			<thead>
				<th>Fname</th>
				<th>Lname</th>
				<th>Email Id</th>
				<th>Address</th>
				<th>Gender</th>
				<th>Languages Known</th>
				<th>Country</th>
			</thead>
		</tr>
		<tr>
			<tbody>
				<td>{{fname}}</td>
				<td>{{lname}}</td>
				<td>{{emailid}}</td>
				<td>{{address}}</td>
				<td>{{gender}}</td>
				<td>{{languages}}</td>
				<td>{{country}}</td>
			</tbody>
		</tr>
	</table>
</body>
</html>