<!DOCTYPE html>
<html>
<head>
	<title>Registration Details</title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	<form action="{% url 'regform' %}" method="POST">
		{% csrf_token %}
		Enter First Name:<input type="text" name="fname"><br>
		Enter Last Name:<input type="text" name="lname"><br>
		Enter your E-mail:<input type="email" name="email"><br>
		Enter your Adsress:<textarea name="address" rows="4" cols="50">
		</textarea><br>
		select your Gender:<input type="radio" name="gender" value="male">Male
		<input type="radio" name="gender"value="female">Female<br>
		Languages Known<input type="checkbox" name="languages" value="telugu">Telugu
		<input type="checkbox" name="languages" value="Hindi">Hindi
		<input type="checkbox" name="languages">English<br>
		select your country:
		<select name="country">
			<option>choose</option>
			<option>India</option>
			<option>USA</option>
			<option>Japan</option> 
		</select><br>
		<input type="submit" name="submit">
	</form>

</body>
</html>